/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: .9rem;
} */

table {
    margin: auto;
    margin-top: 3rem;
}

table,
th,
td {
    border: 1px solid black;
    padding: .5rem
}

th {
    background-color: rgba(144, 154, 210, 0.435);
    color: black;
}

tr:nth-child(even) {
    background-color: rgba(185, 244, 225, 0.336)
}

tr:nth-child(odd) {
    background-color: rgba(230, 244, 185, 0.336)
}

tr:hover {
    background-color: rgb(212, 191, 191);
}