<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title> Somos Mas</title>
  </head>
  <body class="background-color: lightgrey;">
    <section style="display: flex; align-items: center; justify-content: center; height: device-height;">
        <div style="max-width: 550px;">
            <h2>Respondemos a tu consulta</h2>
            <div style="margin-bottom: 10px; padding: 10px; border: 1px solid lightgrey; border-radius: 5px;">
                <div style="white-space: pre-wrap; margin: 0;"><%= response.message %></div>
            </div>
            <div>
                <div style="white-space: pre-wrap;"><%= response.response %></div>
            </div>
            <div>
                <div>
                    <h4 style="">Coordinacion Somos Mas</h4>
                    <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Todd_Strasser_signature.png/790px-Todd_Strasser_signature.png" alt="">
                </div>
            </div>
        </div>
    
    </section>

    
    
  </body>
</html>