<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title> Somos Mas</title>
  </head>
  <body class="bg-light">
    <section class="d-flex align-items-center justify-content-center vh-100">
        <div class="col-sm-10 col-md-8 col-lg-6">
            <div class="m-3 p-4 bg-white rounded shadow ">
                <h1 class="mb-4">Contacto ¡Somos Mas!.</h1>
                <div>
                    <p>Hola <%= newEntry.name %>, estamos encantados de tenerte con nosotros. La pasión por ayudar a los desfavorecidos, dedicación y entusiasmo es lo que nos impulsa a hacer lo que hacemos.</p>
                    <p>Revisaremos tu consulta y estaremos en contacto.</p>
                    <p>Esperamos que trabajando juntos logremos las metas y cumplamos la misión de nuestra organización.</p>
                    <p>Estaremos encantados de ayudarte.</p>
                </div>
                <div class="pt-3 d-flex justify-content-between align-items-center">
                    <div>
                        <h5>Cordialmente Nombre Apellido</h5>
                        <small class="text-secondary">Coordinador general</small>
                    </div>
                    <img style="width: 100px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/00/Todd_Strasser_signature.png/790px-Todd_Strasser_signature.png" alt="">
                </div>
            </div>
            <footer>

            </footer>
        </div>

        
    </section>

    
    
  </body>
</html>