.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1250px;
    width: 100%;
    margin: 8px auto;
    padding: 12px;
    background-color: var(--light-color);
}
