
.simpleContainer {
    width: 100%;
}
  
.doubleContainer {
    width: 100%;
    display: flex;
    margin: 0rem 1rem;
    flex-direction: row;
    column-gap: 1rem;
}

.columnLeftContainer {
    width: 40%;
}

.columnRightContainer {
    width: 60%;
}

.titleContainer {
    position: sticky;
    top: 0;
    background-color: #fff;
    padding-top: 16px;
    padding-bottom: 0.5rem;
    z-index: 1;
}
  
.title {
    padding-bottom: 15px;
    border-bottom: 1px solid #bfbfbf;
    margin: 0;
}

@media (max-width: 1100px) {
    .title {
      padding-bottom: 16px;
    }
}
  
@media (max-width: 1000px) {
    .newsPanelContainer {
        flex-direction: column;
    }
  
    .columRightContainer {
        width: 100%;
    }
  
    .columnLeftContainer {
        width: 100%;
    }
  
    .buttonsContainer {
        top: 5.6rem;
    }
}
  
  @media (max-width: 750px) {
    .title {
      padding-bottom: 18px;
    }
}
  
@media (max-width: 600px) {
    .title {
      padding-bottom: 20px;
    }
}
