.container {
  width: 100%;
}

.listItem {
  display: grid;
  grid-template-columns: 1fr 5fr .2fr;
  column-gap: 1rem;
}

.DeleteButton {
  padding: 0.5rem;
  background-color: #db5752;
  border: 1px solid #db5752;
  border-radius: 5px;
  color: white;
  transition: 400ms;
  height: 100%;
}

.RoleButton {
  padding: 0.5rem;
  background-color: #ffbe4c;
  border: 1px solid #ffbe4c;
  border-radius: 5px;
  color: white;
  transition: 400ms;
  height: 100%;
}

.disabledButton {
  padding: 0.5rem;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: white;
  transition: 400ms;
  height: 100%;
}

.listContainer {
  text-align: initial;
  margin: 12px;
}

.usersList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  margin: 0px;
  padding: 0px;
}

.listItemContainer {
  background-color: aliceblue;
  padding: 1.5rem 4px;
  border-radius: 5px;
}

.listItem {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}