/* * {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color: rgb(82, 82, 82)
} */

form {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* h1 {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem
} */

label,
textarea,
input {
    width: 80%;
}

label {
    margin-bottom: .5rem;
}

textarea {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 50%;
    margin-bottom: 2rem;
    resize: vertical;
}

input {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 50%;
    margin-bottom: 2rem;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 0 3px hsla(110, 27%, 58%, 0.436);
}

button {
    appearance: none;
    -webkit-appearance: none;
    padding: .7rem;
    border: none;
    background-color: #3F51B5;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 10px;
    width: 50%;
    margin: 1rem;
    text-align: center
}

button[type="submit"]:hover {
    background-color: hsl(213, 64%, 49%);
    font-size: 1.1rem;
    padding: .6rem;
    cursor: pointer
}